<div class="container-fluid d-flex">

    <div class="district-list">
        @for(item of districtList; track item.id){
            <div class="nav-districts p-3" (click)="more_details(item.id)">
                <span>{{item.title}}</span>
            </div>
        }
    </div>

    <div class="district-details">
        <h2>{{district_title}}</h2>
        <img [src]="district_image" alt="">
        <p>{{district_description}}</p>
        <div class="district-details-div d-flex">
            @for(item_place of tourist_places; track item_place.name ){
                <div href="item_place.name" class="card col-6 p-1 m-1">
                    <img src="images/img1/thekkekudi_cave_temple.jpg" alt="">
                    <h4>{{item_place.name}}</h4>
                    <p>{{item_place.description}}</p>
                </div>
            }
        </div>
    </div>
    
</div>

