input{
    background-color: rgb(220, 216, 216);
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: 200px;
}

h3{
    color: rgb(144, 144, 207);
}

span{
    font-weight: bold;
}

input[type=radio]{
    width: auto;
}

input[type=submit]{
    background-color: rgb(75, 75, 74);
}

input[type=submit]:hover{
    background-color: rgb(50, 50, 49);
}

.error{
    color: red;
    font-size: 12px;
}